body {
  height: 100vh;
  background-image: url("../images/pexels-vincent-gerbouin-2263686.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em 1em;
}
.dice-container {
  width: fit-content;
  border: 5px solid black;
  border-radius: 10px;
  padding-top: 15px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 15px;
  margin-left: 70rem;
}

#result {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
